<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="Mauricio Alvarado web page">
    <meta name="author" content="McodeX">

    <!-- <meta property="og:site_name" content="Cyclon" />
	<meta property="og:site" content="https://mlbeta.cyclon.mx/"/>
	<meta property="og:title" content="McodeX"/>
	<meta property="og:description" content="Main page" />
	<meta property="og:image" content="/images/favicon.ico"/>
	<meta property="og:url" content="https://mlbeta.cyclon.mx/"/>
	<meta property="og:type" content="article" /> -->

    <title>McodeX</title>

    <link href="/css/course_page.css" rel="stylesheet">
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/css/lib/aos.css" rel="stylesheet">

    <!-- <link rel="icon" href="/images/favicon.ico"> -->

</head>

<body>

    <div id="particles-js">
        <div class="align-middle title">
            <h6 class="m-title">M&nbsp;</h6>
            <h6 class="code-title">C&nbsp;</h6>
            <h6 class="code-title">O&nbsp;</h6>
            <h6 class="code-title">D&nbsp;</h6>
            <h6 class="code-title">E&nbsp;</h6>
            <h6 class="m-title">X</h6>
            <div class="align-middle">
                <span class="name-title">Mauricio Alvarado</span>
            </div>
        </div>
    </div>

    <%- include("./components/navbar",{assets: assets}) %>
    <%- include("./components/course_content",{assets: assets, _class: _class}) %>
    <%- include("./components/footer",{assets: assets}) %>

</body>

<script src="/js/lib/aos.js"></script>
<script src="/js/lib/particles.min.js"></script>
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/popper.min.js"></script>
<script src="/js/lib/bootstrap.bundle.min.js"></script>
<script src="/js/course_page.js"></script>

</html>