<div class="menu-container fixed">
    <nav class="navbar navbar-expand-lg navbar-collapse">
        <div class="container-fluid">
            <a class="navbar-brand" id="index-link" href="#"><%= assets.nav.home %></a>
            <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" id="presentation-link" href="#presentation"><%= assets.nav.about_me %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" id="projects-link" href="#projects"><%= assets.nav.projects %></a>
                    </li>
                <!-- 
                        <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/courses"><%= assets.nav.courses %></a>
                    </li>
                -->
            </div>
        </div>
    </nav>
</div>