<div class="presentation-background">&nbsp;</div>

<div class="presentation-container" id="presentation" data-aos="fade-up">
    <br><br><br><br>
    <div class="row presentation">
        <div class="col">
            <h2>
                <%= assets.nav.about_me %>
            </h2>
        </div>
    </div>
    <br><br>
    <div class="row presentation">
        <div class="col-md-8 my-auto">
            <p>
                <%= assets.index.presentation.p1 %>
            </p>
            <p>
                <%= assets.index.presentation.p2 %>
            </p>
            <!--
                <p>
                    <%= assets.index.presentation.p3 %>
                </p>
            -->
        </div>
        <div class="col my-auto mx-auto">
            <center>
                <img class="image-avatar" src="./images/mauricio.jpg">
            </center>
        </div>
    </div>
    <br><br><br><br>
</div>